{{#each this}}
{{!-- <div class="col-sm-3"> --}}
  <div>
    <p><h4 class="omdb-movies">{{Title}}</h4></p>
    <p><h5>{{Year}}</h5></p>
    <p>{{Poster}}</p>
    {{!-- <button type="button" id="wishlist-btn" class="btn btn-default">Add To wishlist</button> --}}
  </div>
{{!--   {{#if poster}}
  <img src="{{poster}}" alt="{{title}} Poster">
  {{else}}
  <img src="../images/no-image-found.jpg" alt="{{title}} Poster">
  <div>{{title}}</div>
  <div>
    <button id="modal-btn" class="btn btn-primary addButton">Add</button>
  </div>
  {{/if}} --}}
{{!-- </div> --}}
{{/each}}
